/*  */
@font-face {
  font-family: 'futura-pt-medium';
  src: url(media/fonts/futura-pt-medium.woff2);
}
@font-face {
  font-family: 'futura-pt-book';
  src: url(media/fonts/futura-pt-book.woff2);
}
@font-face {
  font-family: 'futura-pt-book-oblique';
  src: url(media/fonts/futura-pt-book-oblique.woff2);
}

:root{
  --futura-medium:'futura-pt-medium';
  --futura-b:'futura-pt-book';
  --futura-b-oblique:'futura-pt-book-oblique';
  --able-yellow: #fbffa7;
  --able-lblue: #b1c5ff;
  --able-lgreen: #b6ffc0;
  --able-red: #ff764d;
  --able-lavender: #d5b3ff;
  --able-blue: #0000ff;
}



*{
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body{
  font-family: var(--futura-medium), sans-serif;
  background-color: 
  
}
