/*  */
@font-face {
  font-family: 'futura-pt-medium';
  src: url(media/fonts/futura-pt-medium.woff2);
}
@font-face {
  font-family: 'futura-pt-book';
  src: url(media/fonts/futura-pt-book.woff2);
}
@font-face {
  font-family: 'futura-pt-book-oblique';
  src: url(media/fonts/futura-pt-book-oblique.woff2);
}
:root{
  --futura-medium:'futura-pt-medium';
  --futura-b:'futura-pt-book';
  --futura-b-oblique:'futura-pt-book-oblique';
  --able-yellow: #fbffa7;
  --able-lblue: #b1c5ff;
  --able-lgreen: #b6ffc0;
  --able-red: #ff764d;
  --able-lavender: #d5b3ff;
  --able-blue: #0000ff;
}
/* custom classes for certain elements */
.list-item{
  margin-right: .3125rem;
  margin-left: .3125rem;
}
.orange-text{
  color: var(--able-red)
}
.blue-text{
  color: var(--able-blue);
}
.account-text{
  font-size: .987rem;
  margin-left: .652rem;
  position: relative;
  top: 1px;
}

*::selection{
  background: blue;
  color: #FFF;
  text-shadow: none;
}


/* Global settings */
*{
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
}

body{
  font-family: var(--futura-medium), sans-serif;
  width: 100vw;
  font-size: 16px;
  color: #000;
  line-height: 1.5;
  font-weight: normal;
  background-color: #FFF;
  overflow-x: hidden;
}

li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: inherit;
}
header{
  margin-top: 1.25em;
}

/* Main styles */
.nav-logo{
  margin-left: 1.5em;
}
.nav-logo svg{
  display: block;
  width: 2.75em;
  height: 1.75em;
}
.nav-primary{
  display: flex;
  font-size: 1.2rem;
  line-height: 1.5;
}
.nav-primary-elements{
  display: flex;
  gap: 1em;
  padding-bottom: 1.50em;
  padding-left: 2.75rem;
}
.nav-primary-elements-right{
  display: flex;
  margin-left: auto;
  gap: 1.5em;
}
.main-nav-separator{
  display: block;
  height: 0;
  border-top: 2px solid #eee;
}

.nav-secondary-elements{
  font-size: 1rem;
  display: flex;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  height: 4.25rem;
  gap: 1em;
}

.about-header{
  min-height: calc(100vh - 120px);
  margin: 8.33333vw;
  margin-top: 0;
  position: relative;
}
.element{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("https://ableton-production.imgix.net/about/header.jpg?auto=format&dpr=1.94&fit=crop&fm=jpg&h=301&ixjsv=1.1.3&q=51&w=1102");
  background-size: cover;
}
.ableton-logo{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -215px;
  margin-top: -52px;
  width: 430px;
  height: 104px;
}
.text{
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}
.body-text{
  margin: 0 auto;
}
.body-text h1{
  font-size: 1.875rem;
  line-height: 1.4;
  margin-bottom: .7em;
  font-weight: bold;
}
.body-text a{
  color: var(--able-blue);
}
.body-text p{
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: normal;

}


